/$RECYCLE.BIN
/.BAH2391
/.BAH2411
/.BAH2448
/.BAHtemp-501-1804289383
/.BAHtemp-501-846930886
/.DS_Store
/.archiver-41807AC2-B02E-42BA-B541-83F410B7D1C0-11520-00000F805AB00786
/.infofile
/.localized
/.project
/.vscode
/Acrobat Droplets
/Apple MacBook Pro 13 inch A1708(Mid-2017) Battery Replacement | MacBatteryStore.co.uk.webloc
/Battery Replacement For MacBook Pro 13" Retina A1706 2016-2017 – Macbook-Repairs.webloc
/Chaplin WordPress Theme – Anders Norén.webloc
/Crucial X6 1TB Portable SSD | Ebuyer.com.webloc
/Design Assets
/Design Work
/Desktop Clutter
/Folder Action In
/Folder Action Out
/HNInventoryItems.xlsx
/How to Disable System Integrity Protection (and Why You Shouldn't).webloc
/Icon
/JobStatuses.xlsx
/Luddite Covers
/MyTransform.transform
/PDF Form
/Quality Limited Edition ART PRINTS by Cornwall Artist Sarah Blakey. <br->FREE UK SHIPPING ON ALL ORD….webloc
/Remote Working
/Sample document 1.pdf
/Sample document 2.pdf
/Screenshots
/Search threads | MacBB.webloc
/ShelterBox jobs in PL31 | Indeed.com.webloc
/TJI Cut Sheet RS Approval copy.pdf
/TJI Cut Sheet RS Approval copy_data.xml
/URL's
/User and license information issues | Creative Cloud 2019 and later.webloc
/WiP
/Work Related Fuckery
/desktop.ini
/doomsdaySwitch.sh
/filterStandardBooks.js
/form.html
/hideStock.js
/javascript delete first two pages.js
/move_files.sh
/output.xlsx
/pdftk A=:Users:colingammon:D.textClipping
/personal statement.rtf
/shipDate_Parameters
/sudo systemsetup -setrestart.textClipping
/temp
/~$output.xlsx